header { color: white
}
body{
 

background-image: url(https://i.giphy.com/3oEduWAw3ERbW3AL0Q.gif);

background-repeat: no-repeat;

}
p {
  color: black
}
h1{
  color: black
}
h2{ color: black
}}
h3{ color: black
}
  
