<header>
 <style>
 body { background:red; }
</style>
<link href="test.css" rel="stylesheet">
<link href="test.css" rel="stylesheet"> <header>
<h1> Watch Luxury</h1>
 <a href="home.html"> Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
 <a href="about.html"> About</a>&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="contact.html"> Contacts</a>&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="adresse.html"> Adresse</a>&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="documentation.html"> Documentations</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="apropos.html"> À propos</a>
 </header>
  <p> Bienvenue sur notre site<p>
